{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{%- block actions -%}
    {% include 'SonataAdminBundle:CRUD:action_buttons.html.twig' %}
{%- endblock -%}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': sonata_admin.adminPool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% block content %}
    <div class="sonata-ba-delete">

        <div class="box box-warning">
            <div class="box-header">
                <h3 class="box-title">Inloggegevens versturen?</h3>
            </div>
            <div class="box-body">
                Wilt u een automatisch wachtwoord genereren en de inloggegevens versturen naar gebruiker <strong>{{ object.username }}</strong> met mailadres <a href="mailto:{{ object.email }}">{{ object.email }}</a> ?
                <p>
                    LET OP: Het oude wachtwoord komt direct te vervallen!
                </p>
            </div>
            <div class="box-footer clearfix">
                {{ form_start(form) }}
                    {% if form.children.plainPassword is defined %}
                        {{ form_row(form.plainPassword) }}
                    {% endif %}
                    {{ form_widget(form.send) }}
                    <a class="btn btn-default" href="{{ admin.generateObjectUrl('list', object) }}">Annuleren</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
