{% extends 'base.html.twig' %}

{% trans_default_domain 'fbeen_user' %}

{% block title -%}
    {{ 'password.title'|trans }}
{%- endblock %}

{% block fbeen_user -%}
    <h1>{{ 'password.header'|trans }}</h1>
    
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <button class="btn btn-lg btn-primary pull-right" type="submit">{{ 'password.form.submit'|trans }}</button>
        </div>
    {{ form_end(form) }}
    
{%- endblock %}
